@font-face {
	font-family: 'Yow';
	src: url(MYRIADPRO-COND.OTF);
}

@font-face {
	font-family: 'Yow2';
	src: url(MyriadPro-Light.otf);
}

/* GLOBAL STYLES */

*, *::before, *::after {

	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

.clear {

	clear: both;

}

.clearfix::after,
.clearfix::before {

	content: "";
	display: block;
	clear: both;

}

html{
	background: #ededed;
}
/* For Header */

#header-container{
	
	background: #474747;
	height: 100px;
	margin-top: 50px;
	box-shadow: -1px 1px 4px black;
}

.header-inner-container {

	width: 960px;
	margin: 0 auto;
	

}

.header-inner-container > * {
	font-family: 'Yow';
	float: left;

}


.header-tagline {
	
	width: 600px;
}

.header-tagline > p {
	color: #8d8d8d;
	font-family: 'Yow';
	font-size: 25px;
	margin-top: 22px;

}

.header-logo{
	box-shadow: -1px 1px 4px black;
	width: 360px;
	height: 120px;
	padding: 20px;
	margin-top: -10px;
	background: #2f549b;

}

.header-logo > p{
	float: left;
	padding-left: 20px;
	
	font-size: 30px;
	color: white;
}

.header-logo > h1{
	float: left;
	padding-left:20px;
	font-size: 60px;
	color: white;
}
.header-logo > img{
	float: left;
}


/* For Body Wrapper */
#body-wrapper{
	width:960px;
	margin: 0 auto;
	
}
#panel-container{
	margin: 0 auto;
	width: 960px;
}

.panel-box > li{
	margin: 50px 20px 50px 0px;
	width: 225px;
	height: 440px;
	padding: 20px;
	text-align:center;
	float: left;
	box-shadow: 1px 1px 4px gray;	
	font-family: 'Yow2';
	background-color: white;
}

 .panel-box > li:hover, .panel-box > li:hover > * {
	color: white;
	background: #2d5499;
}
.panel-box > li > *{
 	margin-bottom: 25px;
}

.panel-box > li > a{
	text-decoration: none;
	color: #cbcbcb;
}

.panel-box > li > p{
	color: #6e6e6e;
}

.panel-box > li > hr{
	width: 80px;
	margin: 0 auto 30px auto;
}

.panel-box > li:last-child{
	margin-right: 0px;
}

.panel-box > li > h3 {
	font-size: 30px;
	color: #2d5499;
}

.panel-box > li > .panel-subtitle{
	font-size: 14px;
	color: #9aadcd;
}


/* For Footer */
#footer-container{
	width: 960px;
	font-family: 'Yow2';
}

.footer-title{
	width: 250px;
	height: 60px;
	font-size: 30px;
	margin: 0 auto -20px auto;
	padding: 10px 0 10px 0;
	background:  #2f549b;
	color: white;
	position: relative;
	
}

#footer-container > h3::before{
	content: "";
	border-style: solid;
	border-width: 0px 30px 30px 0;
	margin: 20px 0 -2px -30px;
	float:left;
	border-color:  transparent #1e355f transparent transparent;
	transform: rotate(0deg);
}

#footer-container > h3::after{
	content: "";
   border-style: solid;
   border-width: 30px 30px 0 0;
   margin: -16px 0 -2px 250px;
   float:left;
   border-color: #1e355f transparent transparent transparent;
   transform: rotate(0deg);
}

.footer-icons {
	width:960px;
	background-color: #c6c6c6; 
	margin-top: -30px;
	margin-bottom: 50px;
	border-top: 1px solid black;
	height: 180px;
	padding: 40px 20px 20px 20px;

}

.footer-icons > li {
	float:right;
	width: 153px;
	height: 110px;
	text-align: center;
	color: #686868;
}

.footer-icons > li:hover, .footer-icons > li:hover > p{
	border-radius: 5px;
	color: white;
	background: #2f549b;
}

.footer-icons, .panel-box{
	list-style-type: none;
}

.footer-icons > li:hover > img{

	filter:brightness(0) invert(1);
	
}

#footer-container > h3{
	
	text-align: center;
}

